.center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p {
    white-space: pre;
}

.vertical-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.padding{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}


/* Modal Content/Box */
.modal-content {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 35%;
    top: 15%;
    width: 350px; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 3px;
}

/* The Close Button */
.close {
    color: #bfbfbf;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
tr p{
    text-align: center;
    padding-top: 5px;
}

tr th{
  border-bottom: 1px solid grey;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input{
    height: 30px !important;
}

.tables{
    display: flex;
    flex-direction: column;
}

#phones, #attachments{
    text-align: center;
}



#attachments{
    display: flex;
    justify-content: flex-end;
}

#attachments td p{
    width: 100%;
}